option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "FoodKeeperWeb.settings"
    "PYTHONPATH": "/opt/python/current/app/FoodKeeperWeb:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: FoodKeeperWeb/FoodKeeperWeb/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python FoodKeeperWeb/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python FoodKeeperWeb/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python FoodKeeperWeb/manage.py collectstatic --noinput"
